## Posttest 4

Data preprocessing
Dataset yang digunakan adalah Brazilian E-Commerce Public Dataset by Olist. Ini adalah kumpulan data publik e-niaga Brasil dari pesanan yang dibuat di Olist Store . Dataset memiliki informasi 100k pesanan dari 2016 hingga 2018 yang dibuat di beberapa pasar di Brasil. Fitur-fiturnya memungkinkan melihat pesanan dari berbagai dimensi: dari status pesanan, harga, kinerja pembayaran dan pengiriman hingga lokasi pelanggan, atribut produk, dan akhirnya ulasan yang ditulis oleh pelanggan. Kami juga merilis kumpulan data geolokasi yang menghubungkan kode pos Brasil dengan koordinat lat/lng.

## Import library yang digunakan

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as pl
from sklearn.model_selection import train_test_split # data split (training dan testing)
from sklearn.preprocessing import StandardScaler # standarisasi
from sklearn.preprocessing import MinMaxScaler # normalisasi
from sklearn.impute import SimpleImputer #subtitusi nilai
from sklearn.preprocessing import OrdinalEncoder #encoder
from sklearn.preprocessing import OneHotEncoder #onehot

## Membaca file dataset

In [2]:
cust = pd.read_csv('olist_customers_dataset.csv')
geo = pd.read_csv('olist_geolocation_dataset.csv')
item = pd.read_csv('olist_order_items_dataset.csv')
payment = pd.read_csv('olist_order_payments_dataset.csv')
review = pd.read_csv('olist_order_reviews_dataset.csv')
order = pd.read_csv('olist_orders_dataset.csv')
product = pd.read_csv('olist_products_dataset.csv')
seller = pd.read_csv('olist_sellers_dataset.csv')
prodinfo = pd.read_csv('product_category_name_translation.csv')

### Melihat info  dari atribut dalam file csv contohnya seperti type data, jumlah baris, dll

In [3]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### Mengecek nilai null pada setiap file csv dataset

In [4]:
cust.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [5]:
geo.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [6]:
item.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [7]:
payment.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [8]:
payment.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [9]:
review.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [10]:
order.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [11]:
product.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [12]:
seller.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [13]:
prodinfo.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

### Mengetahui panjang baris dataset tiap file csv

In [14]:
print(f'panjang dataset customer {len(cust)} baris')
print(f'panjang dataset geo {len(geo)} baris')
print(f'panjang dataset item {len(item)} baris')
print(f'panjang dataset payment {len(payment)} baris')
print(f'panjang dataset review {len(review)} baris')
print(f'panjang dataset order {len(order)} baris')
print(f'panjang dataset product {len(product)} baris')
print(f'panjang dataset seller {len(seller)} baris')
print(f'panjang dataset prodinfo {len(prodinfo)} baris')

panjang dataset customer 99441 baris
panjang dataset geo 1000163 baris
panjang dataset item 112650 baris
panjang dataset payment 103886 baris
panjang dataset review 99224 baris
panjang dataset order 99441 baris
panjang dataset product 32951 baris
panjang dataset seller 3095 baris
panjang dataset prodinfo 71 baris

# Data Split

Train/test split adalah salah satu metode yang dapat digunakan untuk mengevaluasi performa model machine learning. Metode evaluasi model ini membagi dataset menjadi dua bagian yakni bagian yang digunakan untuk training data dan untuk testing data.

#### Disini saya mencoba menggabungkan beberapa file csv dataset yang dimiliki dengan menggunakan 'merge'

In [15]:
cust_order = pd.merge(cust,order,on='customer_id',how='inner')
cust_order.dropna(axis=0,inplace=True)
cust_order.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96461 entries, 0 to 99440
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_id                    96461 non-null  object
 1   customer_unique_id             96461 non-null  object
 2   customer_zip_code_prefix       96461 non-null  int64
 3   customer_city                  96461 non-null  object
 4   customer_state                 96461 non-null  object
 5   order_id                       96461 non-null  object
 6   order_status                   96461 non-null  object
 7   order_purchase_timestamp       96461 non-null  object
 8   order_approved_at              96461 non-null  object
 9   order_delivered_carrier_date   96461 non-null  object
 10  order_delivered_customer_date  96461 non-null  object
 11  order_estimated_delivery_date  96461 non-null  object
dtypes: int64(1), object(11)
memory usage: 9.6+ MB

In [16]:
cust_order_pay = pd.merge(cust_order, payment ,on='order_id',how='inner')
cust_order_pay.dropna(axis=0,inplace=True)
cust_order_pay.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100739 entries, 0 to 100738
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    100739 non-null  object
 1   customer_unique_id             100739 non-null  object
 2   customer_zip_code_prefix       100739 non-null  int64
 3   customer_city                  100739 non-null  object
 4   customer_state                 100739 non-null  object
 5   order_id                       100739 non-null  object
 6   order_status                   100739 non-null  object
 7   order_purchase_timestamp       100739 non-null  object
 8   order_approved_at              100739 non-null  object
 9   order_delivered_carrier_date   100739 non-null  object
 10  order_delivered_customer_date  100739 non-null  object
 11  order_estimated_delivery_date  100739 non-null  object
 12  payment_sequential             100739 non-null  int64
 13  payment_type                   100739 non-null  object
 14  payment_installments           100739 non-null  int64
 15  payment_value                  100739 non-null  float64
dtypes: float64(1), int64(3), object(12)
memory usage: 13.1+ MB

### Mengetahui jumlah panjang dataset training dan testing dengan perbandingan 70:30

In [17]:
data = cust_order_pay[['payment_sequential']]
label = cust_order_pay['customer_state']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

print(f'Panjang data training {len(data_train)}',
     f'Panjang label training {len(label_train)}',
     f'Panjang data testing {len(data_test)}',
     f'Panjang label testing {len(label_test)}',
     sep='\n')

Panjang data training 70517
Panjang label training 70517
Panjang data testing 30222
Panjang label testing 30222

# Data Transformasi

Transformasi data adalah merubah skala data kedalam bentuk lain sehingga data memiliki distribusi yang diharapkan.Scaling adalah suatu cara untuk membuat numerical data pada dataset memiliki rentang nilai (scale) yang sama. Tidak ada lagi satu variabel data yang mendominasi variabel data lainnya.Teknik penskalaan yang biasa dipakai yaitu normalisasi dan standardisasi

In [18]:
pay_review = pd.merge(payment, review, on='order_id',how='inner')
pay_review.dropna(axis=0,inplace=True)
pay_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10222 entries, 0 to 103666
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_id                 10222 non-null  object
 1   payment_sequential       10222 non-null  int64
 2   payment_type             10222 non-null  object
 3   payment_installments     10222 non-null  int64
 4   payment_value            10222 non-null  float64
 5   review_id                10222 non-null  object
 6   review_score             10222 non-null  int64
 7   review_comment_title     10222 non-null  object
 8   review_comment_message   10222 non-null  object
 9   review_creation_date     10222 non-null  object
 10  review_answer_timestamp  10222 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 958.3+ KB

#### Membuat file copyan untuk mencoba transforming data

In [50]:
data_norm = pay_review.copy()

## Normalisasi

Normalisasi adalah proses penskalaan data menjadi rentang [0, 1].

In [20]:
scaler = MinMaxScaler()

normalize_data = scaler.fit_transform(data_norm[['payment_sequential', 'payment_installments', 'review_score']])

normalize_data = pd.DataFrame(normalize_data)
normalize_data.rename(columns={ 0 :'payment_sequential', 1 : 'payment_installments', 2 : 'review_score'}, inplace=True)

normalize_data.head(5)

   payment_sequential  payment_installments  review_score
0                 0.0              0.368421          0.00
1                 0.0              0.052632          1.00
2                 0.0              0.263158          1.00
3                 0.0              0.000000          0.25
4                 0.0              0.000000          1.00

## Standarisasi

Standardisasi adalah proses penskalaan data sehingga memiliki nilai rata-rata 0 dan standar deviasi 1.

In [37]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [51]:
data_stand = product.copy()

In [52]:
# data_stand_pembanding = product.copy()
# data_stand.drop('product_id',axis = 1, inplace = True)
# data_stand.drop('product_category_name', axis = 1, inplace = True)

# standart_std = StandardScaler()

# scaled_data = standart_std.fit_transform(data_stand)

# data_stand_pembanding.drop('product_id', axis = 1, inplace = True)
# data_stand_pembanding.drop('product_category_name', axis = 1, inplace = True)

# print('Dataset sebelum scalling:',  # SEBELUM
#       data_stand_pembanding.head(6),
#       f'Nilai standar deviasi:\n{np.std(data_stand_pembanding)}',
#       sep='\n', end='\n\n')

# print('Dataset setelah scalling:',  # SESUDAH
#       scaled_data[:6],
#       f'Nilai standar deviasi: {np.std(scaled_data)}',
#       sep='\n')

data_stand.drop('product_id',axis = 1, inplace = True)
data_stand.drop('product_category_name', axis = 1, inplace = True)

In [46]:
standart_std = StandardScaler()

scaled_data = standart_std.fit_transform(data_stand)

In [48]:
data_stand_pembanding = product.copy()
data_stand_pembanding.drop('product_id', axis = 1, inplace = True)
data_stand_pembanding.drop('product_category_name', axis = 1, inplace = True)

In [49]:
print('Dataset sebelum scalling:',  # SEBELUM
      data_stand_pembanding.head(6),
      f'Nilai standar deviasi:\n{np.std(data_stand_pembanding)}',
      sep='\n', end='\n\n')

print('Dataset setelah scalling:',  # SESUDAH
      scaled_data[:6],
      f'Nilai standar deviasi: {np.std(scaled_data)}',
      sep='\n')

Dataset sebelum scalling:
   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0
5                 60.0                       745.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0
5             200.0               38.0                5.0              11.0
Nilai standar deviasi:
product_name_lenght             10.245582
product_description_lenght     635.105406
product_photos_qty               1.736739
product_weight_g              4281.973751
product_length_cm               16.914201
product_height_cm               13.637347
product_width_cm                12.078864
dtype: float64

Dataset setelah scalling:
[[-0.82737598 -0.76285807 -0.68460849 -0.47909506 -0.87589579 -0.50872513
  -0.76139016]
 [-0.43696382 -0.78017803 -0.68460849 -0.29810376 -0.04818896  0.07789922
  -0.26465471]
 [-0.24175773 -0.82111612 -0.68460849 -0.4956762  -0.75765196 -0.58205318
  -0.67860092]
 [-2.09621553 -0.80379616 -0.68460849 -0.44499864 -0.28467663 -0.9486934
   0.23208074]
 [-1.12018511 -0.58178577  1.04276699 -0.3856802  -0.63940813  0.00457118
  -0.8441794 ]
 [ 1.12468485 -0.04171793 -0.68460849 -0.48493349  0.42478637 -0.87536536
  -1.00975788]]
Nilai standar deviasi: nan

In [24]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

# Data cleaning

Data yang kita gunakan bisa jadi sangat berantakan. Ada informasi yang tak lengkap, ada pula format yang berbeda-beda.Semua ini tentu membuat data itu sulit diolah. Pada akhirnya, ia jadi tak bisa dimanfaatkan. Untuk itulah kita harus melakukan data cleaning terlebih dahulu. Data cleaning adalah memperbarui, membetulkan, dan membuat data menjadi lebih rapi. Beberapa model machine learning tidak dapat bekerja dengan data yang masih berantakan. Kesalahan dalam data dapat berupa:

1. Terdapat nilai data yang tidak valid (Null)
2. Data dalam format yang salah
3. Terdapat duplikat

In [53]:
product.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Dari data diatas dapat dilihat bahwa terdapat banyak nilai null pada beberapa atribut.

In [54]:
dc_product = product.copy()
dc_review = review.copy()

In [55]:
# deklarasi kelas simpleImputer
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

## Mengganti semua nilai null dengan nilai mean, median, dan modus

In [56]:
dc_product['product_category_name'] = imputer_modus.fit_transform(dc_product[['product_category_name']])
dc_product['product_name_lenght'] = imputer_mean.fit_transform(dc_product[['product_name_lenght']])
dc_product['product_description_lenght'] = imputer_median.fit_transform(dc_product[['product_description_lenght']])
dc_product['product_photos_qty'] = imputer_modus.fit_transform(dc_product[['product_photos_qty']])
dc_product['product_weight_g'] = imputer_mean.fit_transform(dc_product[['product_weight_g']])
dc_product['product_length_cm'] = imputer_median.fit_transform(dc_product[['product_length_cm']])
dc_product['product_height_cm'] = imputer_modus.fit_transform(dc_product[['product_height_cm']])
dc_product['product_width_cm'] = imputer_mean.fit_transform(dc_product[['product_width_cm']])

In [57]:
dc_product.isna().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

Setelah di cek lagi, semua nilai null sudah tidak ada karena telah diganti dengan nilai mean, median, dan modus diatas tadi

## Data Duplikat

In [58]:
dc_geo = geo.copy()

dc_geo.duplicated().sum()

261831

Jumlah data duplikat sebesar 261831

In [59]:
len(dc_geo)

1000163

Jumlah baris dataset 1000163

In [60]:
dc_geo.drop_duplicates(inplace=True)

dc_geo.duplicated().sum()

0

Data duplikat 0 karena telah dihapus menggunakan fungsi drop

In [61]:
len(dc_geo)

738332

Sisa jumlah baris setelah data duplikat dihapus adalah 738332

# Encoding

Encoding adalah salah tahap pre-processing ketika kita menghadapi data yang bersifat kategorikal. Encoding adalah teknik yang mengubah variabel kategorikal menjadi variabel numerik, model dalam machine learning membutuhkan input yang bertipe numerik sehingga sangat penting bagi kita untuk melakukan encoding jika terdapat variabel yang bertipe kategorikal didalam data kita. Teknik encoding yang paling terkenal adalah Ordinal Encoding dan One-Hot Encoding

In [62]:
en_cust = cust.copy()
one_hot = cust.copy()

## Ordinal

Setiap nilai kategori yang unik akan diubah menjadi nilai integer.

In [63]:
cust['customer_state'].unique()

array(['SP', 'SC', 'MG', 'PR', 'RJ', 'RS', 'PA', 'GO', 'ES', 'BA', 'MA',
       'MS', 'CE', 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB',
       'TO', 'PI', 'AC', 'SE', 'RR'], dtype=object)

Nilai kategori unik yang aslinya ialah inisial nama negara

In [64]:
encoder_ordinal =OrdinalEncoder()

#encoding kan
en_cust['customer_state'] = encoder_ordinal.fit_transform(en_cust[['customer_state']]).astype('int64')

en_cust.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,25
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,25
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,25
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,25
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,25

In [65]:
en_cust['customer_state'].unique()

array([25, 23, 10, 17, 18, 22, 13,  8,  7,  4,  9, 11,  5,  6, 19, 15, 12,
        2,  3,  1, 20, 14, 26, 16,  0, 24, 21], dtype=int64)

Dapat kita lihat kembali seluruh nilai kategori unik telah menjadi angka dari 0 - 26

## One-hot

Metode ini merepresentasikan data bertipe kategori sebagai vektor biner yang bernilai integer, 0 dan 1, dimana semua elemen akan bernilai 0 kecuali satu elemen yang bernilai 1, yaitu elemen yang memiliki nilai kategori tersebut.

In [66]:
enc = pd.get_dummies(one_hot[['customer_state']])
enc = pd.DataFrame(enc)

one_hot.drop('customer_state', axis = 1, inplace = True)

one_hot = en_cust.join(enc)
one_hot.head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_state_AC,customer_state_AL,customer_state_AM,customer_state_AP,customer_state_BA,...,customer_state_PR,customer_state_RJ,customer_state_RN,customer_state_RO,customer_state_RR,customer_state_RS,customer_state_SC,customer_state_SE,customer_state_SP,customer_state_TO
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,23,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,17,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Dapat dilihat terdapat penambahan 27 kolom baru dari nilai kategori unik sebelumnya